body, p, h1, h2, h3, h4, table, td, th, ul, ol, textarea, input {
    font-family: verdana,helvetica,arial,sans-serif;
}

.heading td { padding: 0 10px 0 0; }
h1 { color: #310875; }

td.number, th.number { text-align:right; }
td.text, th.text { text-align:left; }

table.acsTable {
    border-collapse: collapse;
    border: 1px solid #62409C;
}

.acsTable th {
    background-color: #7253A6;
    color: #FFFFFF;
    font-size: 1.4em;
    padding: 5px 7px 4px;
    padding-top: 5px;
    border-collapse: collapse;
}

.acsTable tr {
    border-collapse: collapse;
    border: 1px solid #62409C;
}

.acsTable td {
    vertical-align: top;
    font-size: 1.2em;
    padding: 3px 7px 2px;
}

table.bargraph {
    margin: 0 0 0 auto;
    border: none;
}

.bargraph tr {
    border: none;
}

.bargraph td {
    font-size: 0.7em;
    vertical-align: middle;
    padding: 0 0 2px 2px;
    border: none;
}

.line {
    height: 10px;
    margin-right: 0;
    margin-top: 2px;
    width: 100px;
    background-color: #FFFFFF;
    border: 1px solid #91B155;
}

.fill {
    height: 10px;
    background-color: #91B155;
}

tfoot .fill {
    background-color: #D5C0DE;
}

tfoot .line {
    border: 1px solid #D5C0DE;
}
